<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="com.df.mybatis.test.dao.IUserDao">
  <select id="queryUserInfoById" parameterType="java.lang.Long" resultType="df.middleware.mybatis.po.User">
    SELECT id, userId, userHead, createTime
    FROM user
    where id = #{id}
  </select>
</mapper>